
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Karla:wght@200;300;400;600;700;800&display=swap');
html, body {
    margin: 0;
    /* height: 100vh; */
    background-color: #000000;
    overflow-x: none;
  
      /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
 }
 html, body.app {
  position: relative;
  min-height: 100vh;   
}
 #myCanvas {
    touch-action: auto !important;
    /* width: 200px;
    height: 200px; */
    /* max-width: 100%; */
    display: block;
    background: #000000;
    object-fit: contain;
    /* height: 100%;
    width: 100%; */
    cursor: grab;
    overflow: hidden !important;
 }
 * {
    box-sizing: border-box;
    padding: 0;
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Karla', sans-serif;

  }
  body::-webkit-scrollbar {
    width: 12px;
    background: #202020;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #7dc5ff;
    border-radius: 5px;
    border: 3px solid #202020;
  }
  
  @media screen and (max-width: 960px) {
#contentwelcome{
    padding-top: 0 !important;
    padding-left: 10px !important;
}
/* #scrollarrow{
    margin-top: 80px;
} */
}

.cursor1 {
    display: inline-block;
    height: 40px;
    width: 2px;
    background: #aaa;
    vertical-align: middle;
    animation: 1s blink linear infinite;
  }
  @keyframes blink {
    0%,49% {
      opacity: 0;
    }
    50%,100% {
      opacity: 1;
    }
  }


  

  #light{
    position: relative;
    top: 150px;
}
#lineh6{
    position: absolute;
    left: 0;
    top: 160px;
    height: 3px;
    background: #008cff;
    animation: lineH 4s 1s infinite linear;
}

#lineh7{
    position: absolute;
    left: 0;
    top: 190px;
    height: 3px;
    /* background: #D50055; */
    background: #1997ff;
    animation: lineH 4s 0s infinite linear;
}
#lineh8{
    position: absolute;
    right: 0;
    top: 220px;
    height: 3px;
    /* background: #00FFFF; */
    background: #0069be;
    animation: lineH 4s 1.5s infinite linear;
}
#lineh9{
    position: absolute;
    right: 0;
    top: 250px;
    height: 3px;
    /* background: #2B002B; */
    background: #00e8f8;
    animation: lineH 5s 2s infinite linear;
}
#lineh10{
    position: absolute;
    left: 0;
    top: 280px;
    height: 3px;
    /* background: #005580; */
    background: #03589e;
    animation: lineH 4s 3s infinite linear;
}
#lineh11{
    position: absolute;
    left: 0;
    top: 310px;
    height: 3px;
    /* background: #FF557F; */
    background: #2a26ff;
    animation: lineH 4s 1s infinite linear;
}
#lineh12{
    position: absolute;
    left: 0;
    top: 340px;
    height: 3px;
    /* background: #fffc63; */
    background: #00ccff;
    animation: lineH 6s 1s infinite linear;
}
@keyframes lineH{
    0%{
        width: 0%;
    }
    100%{
width: 95%;opacity: 0;
}
}

/* --Get In Touch  Section */

/* Footer Section */
/* footer {
  margin: 40px 0;
} */

footer .socialMedia {
  text-align: center;
}

footer .socialMedia ul li a {
  padding-right: 15px;
  color: #e6f1ff;
}
/* #gap {
	padding: 58px 0 0 0;
} */
